/*Maybe add a variable here for consistent padding?*/

body, header, footer {
    display: flex;
}

body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #c3c6bf;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
}

ul {
    list-style-type: none;
}

a {
    color: #405aa1;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: #c3c6bf;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0 6rem;
}

button {
    background-color:#405aa1;
    color: white;
    padding: 0.5rem;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #2e437e;
}

.header_links, .introduction, .introduction_text, .examples,
 .examples_container, .examples_container_info, .quote, .quote_container, .resources,
 .resources_container, .resources_text {
    display: flex;
 }

.header_img{
    height: 90%;
}

.header_links {
    gap: 2rem;
}


.introduction{
    background-color: #c3c6bf;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    gap: 8rem;
    flex-wrap: wrap;
    padding: 0 6rem;
}

.introduction_text {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.introduction_text h1,
.introduction_text p,
.introduction_text button {
  margin: 0.5rem;
}

.introduction_text h1 {
    font-size: 3rem;
    font-weight: 900;
}

.introduction_text p, a {
    font-size: 1.1rem;
}

.introduction_text button {
  padding: 0.5em 2em;
  max-width: 10em;
  box-sizing: border-box;
}

.introduction_img { /*Maybe try adding a border / making it circular*/
    max-height: 80%;
    width: 250px;
    box-shadow: 0px 0px 5px 9px #c3c6bf;
    border-radius: 10%;
}

.examples { /*Figure out how to get the subtitle h2 to align better*/
    background: #ece6d9;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    padding: 2rem 6rem 0rem;
    gap: 1rem;
}

.examples_text h2 {
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: 900px;
}

.examples_container {
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.examples_container_info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.examples_container_info img{
    width: 300px;   /* or 200px */
    height: 300px;
    overflow: hidden;
    border: 2px solid #ece6d9;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.121);
    border-radius: 4px;
    padding: 5px;
}

.quote {
    background: #ece6d9;
    justify-content: center;
    padding: 0 6rem;
}

.quote_container {
    width: 35%;
    flex-direction: column;
    background-image: url("./images/the-water-lily-pond-quote.jpg");
    box-shadow: 0px 0px 5px 9px  #ece6d9;
    border-radius: 10px;
    background-size: cover;
    padding: 3rem;
}

.quote_text{
    color: white;
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 0;
}

.quote_name{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: right;
    margin-top: 0;
}

.resources {
    background: #ece6d9;
    min-height: 15rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
}

.resources_container {
    height: 70%;
    background-color: #c3c6bf;;
    min-width: 20%;
    padding: 1rem 4rem;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    gap: 1rem;
}

.resources_text {
    flex-direction: column;
    align-items: center;
}

.fancy{
    font-family: Georgia;
}