/*Maybe add a variable here for consistent padding?*/

body, header, footer {
    display: flex;
}

body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: aquamarine;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer {
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0 6rem;
}

.header_links, .introduction, .introduction_text, .examples,
 .examples_container, .examples_container_info, .quote, .quote_container, .resources,
 .resources_container, .resources_text {
    display: flex;
 }

.header_img{
    height: 80%;
}

.header_links {
    gap: 2rem;
}


.introduction{
    background-color: blue;
    justify-content: center;
    align-items: center;
    height: 20rem;
    gap: 8rem;
    flex-wrap: wrap;
    padding: 0 6rem;
}

.introduction_text {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.introduction_text h1,
.introduction_text p,
.introduction_text button {
  margin: 0;
}

.introduction_text button {
  padding: 0.5em 2em;
  max-width: 10em;
  box-sizing: border-box;
}

.introduction_img { /*Maybe try adding a border / making it circular*/
    max-height: 80%;
}

.examples { /*Figure out how to get the subtitle h2 to align better*/
    background: oklch(88.835% 0.13021 112.122);
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    padding: 0 6rem;
    gap: 1rem;
}

.examples_text h2 {
    margin: 0;
}

.examples_container {
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.examples_container_info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.examples_container_info img{
    width: 300px;   /* or 200px */
    height: 300px;
    overflow: hidden;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 5px;
}

.quote {
    justify-content: center;
    padding: 0 6rem;
}

.quote_container {
    width: 35%;
    flex-direction: column;
    background-image: url("./images/the-water-lily-pond-quote.jpg");
    box-shadow: 0px 0px 5px 9px white inset;
    border-radius: 10%;
    background-size: cover;
    padding: 3rem;
}

.quote_text{
    font-size: 1.5rem;
}

.quote_name{
    font-size: 1.25rem;
    font-weight: 800;
    text-align: right;
}

.resources {
    min-height: 15rem;
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
    padding: 1 6rem;
}

.resources_container {
    height: 70%;
    background-color: blue;
    min-width: 20%;
    padding: 1rem 4rem;
    justify-content: space-evenly;
}

.resources_text {
    flex-direction: column;
}

.fancy{
    font-family: Georgia;
}